<?xml version="1.0" encoding="UTF-8"?>
<configuration><Components><Component><Config><ArchiveServerConfig UserName="Archive" UserDescription="">
					<ListenPort>10009</ListenPort>
					<ResumeGapReplicationsAfterRestart>True</ResumeGapReplicationsAfterRestart>
				</ArchiveServerConfig></Config><SubConfig><configuration><Components><Component><Config><ArchiveConfig>
									<Settings ReadBufSizeKB="4096" DynamicLoadDistribution="True" AllowRewrite="True"/>
									<Volumes>
										<Volume Dir="D:\ArchiveMainVolume\" MaxDirSizeMB="0" Status="ReadWrite"/>
									</Volumes>
									<CommonWriteConfig WriteQueueLen="200" WriteBufSizeMB="4" FlushTimePeriodMs="300000" MaxFileDurationS="1800" AllowOtherVolumes="True" AllowRewrite="True" MaxFileGapMs="0" ReplicateQueueLen="100"/>
								</ArchiveConfig>
							</Config><Id>Archive</Id></Component><Component><Config><ExternalWatchersConfig>
									<Enable>False</Enable>
									<Watchers>
										<!-- <Watcher CLSID="{523B828C-011D-42F6-81A6-5E95587B2AA6}" UserName="" UserDescription=""/> -->
									</Watchers>
								</ExternalWatchersConfig>
							</Config><Id>ExternalWatchers</Id></Component><Component><Config><RecordChannelsConfig>
									<Channel id="495000000000000020EA99A790904BEEB21F657318136A4A0000000000000001" ip="" port="10052" device="videobridge" fps="0.000000" reduction="-1" extra="" host="" UserName="" UserDescription=""/>
									<Channel id="4950000000000000D4DAF415853A46D1A9874B5DE78BFDDA0000000000000001" ip="" port="10052" device="videobridge" fps="0.000000" reduction="-1" extra="" host="" UserName="" UserDescription=""/>
									<Channel id="49500000000000008FE2E425BB704971ADFD01412B855C5C0000000000000001" ip="" port="10052" device="videobridge" fps="0.000000" reduction="-1" extra="" host="" UserName="" UserDescription=""/>
									<Channel id="495000000000000070FCA95CFB774E4C863CF8CEB8CA845A0000000000000001" ip="" port="10052" device="videobridge" fps="0.000000" reduction="-1" extra="" host="" UserName="" UserDescription=""/>
								</RecordChannelsConfig></Config><Id>RecordChannels</Id></Component><Component><Config><RedirectChannelsConfig/>
							</Config><Id>RedirectChannels</Id></Component><Component><Config><RedirectProxiesConfig/>
							</Config><Id>RedirectProxies</Id></Component><Component><Config><ReplicateChannelsConfig>
									<!-- <Channel ip="127.0.0.1" port="10003" id="FFFFFFFE0000000000000000047F120A28821E8D000000000000000000000001" device="videobridge" tBegin="128371392000000000" tEnd="128372256000000000"/> -->
								</ReplicateChannelsConfig>
							</Config><Id>ReplicateChannels</Id></Component><Component><Config><ReplicatorConfig>
									<AbortTimeoutInSec>600</AbortTimeoutInSec>
									<WaitAbsentData>1</WaitAbsentData>
									<MaxGapReplications>10</MaxGapReplications>
									<MaxGapDurationToIgnoreMs>1000</MaxGapDurationToIgnoreMs>
									<_MaxLocalGapDurationToIgnoreMs>20</_MaxLocalGapDurationToIgnoreMs>
									<_MaxSourceGapDurationToIgnoreMs>0</_MaxSourceGapDurationToIgnoreMs>
								</ReplicatorConfig>
							</Config><Id>Replicator</Id></Component><Component><Config><WriterConfig>
									<CreateNewConnections>0</CreateNewConnections>
									<MaxChannelsPerConnection>1</MaxChannelsPerConnection>
									<SkipFrameCountAtTimeDecrease>20</SkipFrameCountAtTimeDecrease>
									<ReplicateWriteGaps>1</ReplicateWriteGaps>
									<ReplicateFromBox>0</ReplicateFromBox>
									<WriteGapMinLengthInFrames>50</WriteGapMinLengthInFrames>
									<MaxGapDurationToIgnoreMs>5000</MaxGapDurationToIgnoreMs>
									<RequestBufSizeInFrames>150</RequestBufSizeInFrames>
								</WriterConfig>
							</Config><Id>Writer</Id></Component></Components></configuration>
			</SubConfig><Id>ArchiveServer1</Id></Component><Component><Config><HostAuthConfig>
					<Hosts>
						<Host ID="{447595EC-CA80-4342-9F15-0EEF31C09502}" Type="-1" User="" Password="" NeedAuth="False">
							<Ports/>
							<Ips/>
						</Host>
						<Host ID="{EEDF39F7-2D77-4E89-A35D-61FDA30551E2}" Type="-1" User="" Password="" NeedAuth="False">
							<Ports>
								<Port>10052</Port>
							</Ports>
							<Ips>
								<Ip>192.168.88.20</Ip>
							</Ips>
						</Host>
					</Hosts>
				</HostAuthConfig></Config><Id>HostAuthCache</Id></Component></Components></configuration>
