<?xml version="1.0" encoding="UTF-8"?>
<configuration><Components><Component><Config><HostAuthConfig>
					<Hosts>
						<Host ID="20EA99A790904BEEB21F657318136A4A" Type="12" User="admin" Password="UABoAG8AYgBvAHMAKwAxAA==" NeedAuth="True">
							<Ports/>
							<Ips/>
						</Host>
						<Host ID="70FCA95CFB774E4C863CF8CEB8CA845A" Type="12" User="admin" Password="UABoAG8AYgBvAHMAKwAxAA==" NeedAuth="True">
							<Ports/>
							<Ips/>
						</Host>
						<Host ID="8FE2E425BB704971ADFD01412B855C5C" Type="12" User="admin" Password="UABoAG8AYgBvAHMAKwAxAA==" NeedAuth="True">
							<Ports/>
							<Ips/>
						</Host>
						<Host ID="D4DAF415853A46D1A9874B5DE78BFDDA" Type="12" User="admin" Password="UABoAG8AYgBvAHMAKwAxAA==" NeedAuth="True">
							<Ports/>
							<Ips/>
						</Host>
						<Host ID="{EEDF39F7-2D77-4E89-A35D-61FDA30551E2}" Type="-1" User="" Password="" NeedAuth="False">
							<Ports/>
							<Ips/>
						</Host>
					</Hosts>
				</HostAuthConfig></Config><Id>HostAuthCache</Id></Component><Component><Config><IpCamProxyConfig UserName="NetScaleIP" UserDescription="">
					<ListenPort>10052</ListenPort>
					<Cameras DefaultMulticastInterface="" MaxPreRecordDeepMs="360000">
						<Camera CamId="20EA99A790904BEEB21F657318136A4A" IpCamType="0" Ip="192.168.88.21" DefaultVideoFormat="0" DefaultArchiveFormat="3" PreRecordDeepMs="0" EnableDetector="0" ForceRTPOverTCP="1" RTSPPort="554" HTTPPort="80" RTPCmdProtocol="0" ClientDesiredUDPPort="0" MulticastIp="" MulticastPort="0" UseMulticast="0" AudioFormat="0" CamType="12" Channels="1" UserName="" UserDescription="">
							<ConnectionString Params="Id=5270708defa94a409efcced7627f7a18:reduction(-1):archive" String="rtsp://[IP]:554/trackID=2"/>
						</Camera>
						<Camera CamId="D4DAF415853A46D1A9874B5DE78BFDDA" IpCamType="0" Ip="192.168.88.22" DefaultVideoFormat="0" DefaultArchiveFormat="3" PreRecordDeepMs="0" EnableDetector="0" ForceRTPOverTCP="1" RTSPPort="554" HTTPPort="80" RTPCmdProtocol="0" ClientDesiredUDPPort="0" MulticastIp="" MulticastPort="0" UseMulticast="0" AudioFormat="0" CamType="12" Channels="1" UserName="" UserDescription="">
							<ConnectionString Params="Id=97abd1dfe6f54b4f9e7ac6046dad79ab:reduction(-1):archive" String="rtsp://[IP]:554/trackID=2"/>
						</Camera>
						<Camera CamId="8FE2E425BB704971ADFD01412B855C5C" IpCamType="0" Ip="192.168.88.23" DefaultVideoFormat="0" DefaultArchiveFormat="2" PreRecordDeepMs="0" EnableDetector="0" ForceRTPOverTCP="1" RTSPPort="554" HTTPPort="80" RTPCmdProtocol="0" ClientDesiredUDPPort="0" MulticastIp="" MulticastPort="0" UseMulticast="0" AudioFormat="0" CamType="12" Channels="1" UserName="" UserDescription="">
							<ConnectionString Params="Id=89295144a22f4d22bf6eebf89b148d1d:reduction(-1):archive" String="rtsp://[IP]:554/trackID=2"/>
						</Camera>
						<Camera CamId="70FCA95CFB774E4C863CF8CEB8CA845A" IpCamType="0" Ip="192.168.88.24" DefaultVideoFormat="0" DefaultArchiveFormat="3" PreRecordDeepMs="0" EnableDetector="0" ForceRTPOverTCP="1" RTSPPort="554" HTTPPort="80" RTPCmdProtocol="0" ClientDesiredUDPPort="0" MulticastIp="" MulticastPort="0" UseMulticast="0" AudioFormat="0" CamType="12" Channels="1" UserName="" UserDescription="">
							<ConnectionString Params="Id=6935fb5eb33f4c018757446a491120de:reduction(-1):archive" String="rtsp://[IP]:554/trackID=2"/>
						</Camera>
					</Cameras>
				</IpCamProxyConfig></Config><Id>IpCamProxy</Id></Component></Components></configuration>
