<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="NetworkMonitoring" value="vEthernet (LAN)" />
		<add key="DataUpdateIntervalMinutes" value="5" />

		<add key="SQLDataSource" value="(LOCAL)\SQLEXPRESS"/>
		<add key="SQLUser" value="sa"/>
		<add key="SQLPassword" value="1"/>
	</appSettings>
</configuration>